
{% extends "base.html" %}



{% block title %}
| Forgot Password
{% endblock title %}

{% block content %}
{% load static %}
    <div class="main-bg">
        <div class="bg-left">
            <div class="square"></div>
            <div class="logo">
                <a href="signup.html"><img src="assets/Component 20 – 1.png" alt="labelit logo outline" width="80px"></a>
            </div>

            <div class="hello-there">
                <h1>Hello there!</h1>
                <p>Please sign up to create your account
                    <br> and get on with your first project.</p>
            </div>

            <div class="signin-btn">
                <a href="signup.html"><button>SIGN UP</button></a>
            </div>
        </div>

        <div class="bg-right">
            <div class="create-account">
                <h1>Forgot password</h1>
            </div><br><br>
            <div class="form">
                <div class="enter-code">
                <p>Please enter the code sent to your email <br>to change your password:</p> </div>
                <form class="signup-form">
        
                    <input name="recovery-code" type="password" placeholder="">
                    <br>

                    <button class="submit-btn" id="submit">SUBMIT</button>

                    <div class="forgot-pass">
                        <p>Didn't get the code?<br>
                        Click <a href="resendCode">here</a> to resend.</p>
                    </div>

                    <div class="signin-back">
                        <a href="signin.html"><img class="signin-icon" src="./assets/outline/svg/external-link-outline.svg" width="15px"><div>Sign in</div></a>
                    </div>
                       
                    
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
