<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label It SignIn</title>
    <link rel="stylesheet" href="styles/signin.css">
</head>
<body>
    <div class="main">
        <div class="main-left">
            <img class="logo-outline" src="assets/Group 3.png" alt="logo-outline" width="50px">
            <img src="assets/Labelit.png" alt="" width="60px">
            <h1>Hi there!</h1>
            <p>Please sign up if you don't have an account already to start labeling your images.</p>

            <a href="{% url 'index' %}"><button id="sign-up-btn" class="sign-btn
            " type="button">SIGN UP</button></a>
        </div>

        <div class="main-right">

            <img id="mobile-cta" class="mobile-menu" src="assets/fill/svg/menu.svg" alt="menu" width="25px">

            <img id="mobile-cta-2" class="mobile-menu-2"src="assets/fill/svg/menu-2.svg" alt="" width="25px">

            <div class="index-nav" id="nav">

                <img id="mobile-exit" class="mobile-menu-exit" src="assets/outline/svg/close-outline.svg" alt="" width="25px">
                
                <ul>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">TEAM</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <h1>Forgot password</h1>

            <p style="font-weight: 300;">Please enter the code sent to your email<br>
                to change your password.</p>
                
            <form action="">
                
                
                <input type="password" id="passwordrecovery
                " name="passwordrecovery" required>
            </form>

            <button id="submit-btn" class="sign-up-btn" type="submit">SUBMIT</button>

            <p class="signin-creator">Didn't get the code?
                <br>Click <a href="#">here</a> to resend.
            </p>

            <p class="signin-back"><a href="{% url 'signin' %}"> <img src="assets/outline/svg/external-link-outline.svg" width="17px"> Sign in</a></p>

            
        </div>
    </div>


    <script>
        const mobileBtn = document.getElementById('mobile-cta')
            mobileBtn2 = document.getElementById('mobile-cta-2')
            nav = document.getElementById('nav')
            mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        })

        mobileBtn2.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click', () => {
            nav.classList.remove('menu-btn');
        })
    </script>
</body>
</html>